<div class:"container">
  <h1 class="title">New Student</h1>
  <div class="box"><%= render 'form', student: @course %></div>
  <button class="button"><%= link_to 'Back', students_path %></button>
</div>
