<html>
<head>
<title>A very simple SPA in Vue</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
</head>
<body>

<label class="title">Better Banner</title>

<div id='Itemlist'>
  <div id="Courses" class="section">
    <ul>
      <label class="label"><strong>Courses:</strong></label>
      <div v-for="course in courses">
        <li>Course #: 600{{ course['id'] }}: {{ course['name']}}</li>
      </div>
    </ul>
  </div>

  <ul>
    <label class="label"><strong>Sections:</strong></label>
    <div v-for="section in sections">
      <li>Course #: {{ section.course_id}} => Section #: 00{{ section.number}} - {{ section.semester }}</li>
    </div>
  </ul>

  <ul>
    <label class="label"><strong>Students:</strong></label>
    <div v-for="student in students">
      <li>{{ student.last_name }}, {{ student.first_name }}</li>
    </div>
  </ul>

  <button v-on:click="doajax('courses')">Courses</button>
  <button v-on:click="doajax('sections')">Sections</button>
  <button v-on:click="doajax('students')">Students</button>
</div>

<script type="text/javascript">
var ItemsVue = new Vue({
    el: '#Itemlist',
    data: { students: [], sections: [], courses: [], items: [] },
    methods: {
        // use jquery
        doajax: function(which) {
            $.ajax({
                url: 'http://localhost:3000/' + which + '.json',
                method: 'GET',
                // use => so the this is not set
                success: (d) => {
                  if (which == "courses"){
                    this.courses = [];
                    this.courses = d;
                  }
                  else if (which == "students"){
                    this.students = [];
                    this.students = d;
                  }
                  else {
                    this.sections = [];
                    this.sections = d;
                  }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
      }
});
</script>

</body>
</html>
