<html>
<head>
<title>A very simple SPA in Vue</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>

<div class="container">
  <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Better Banner
      </h1>
    </div>
  </div>
</section>

  <div id='Itemlist'>
    <div class="box">
      <div v-if="courses.length > 0">
        <section class="hero is-link">
          <div class="hero-body">
            <h2 class="title">Courses:</h2>
          </div>
        </section>
        <course-section-item v-for="course in courses" v-bind:key="course.id" v-bind:course="course" v-bind:sections="sections"></course-section-item>
      </div>
      <div v-if="students.length > 0">
        <section class="hero is-link">
          <div class="hero-body">
            <h2 class="title">Students:</h2>
          </div>
        </section>
        <div class="box">
          <div class="tags">
            <student-item v-for="student in students" v-bind:key="student.id" v-bind:student="student"></student-item>
          </div>
        </div>
      </div>
    </div>

    <div v-if="addCourse === true">
      <div class="box">
        <h3 class="title">New Course</h3>
        <form>
          <label class="label">
            Name:
            <input class="input" type="text" v-model="new_course.name"/>
          </label>
          <label class="label">
            Department:
            <input class="input" type="text" v-model="new_course.department"/>
          </label>
          <label class="label">
            Number:
            <input class="input" type="Number" v-model="new_course.number"/>
          </label>
          <label class="label">
            Credit Hours:
            <input class="input" type="Number" v-model="new_course.credit_hours"/>
          </label>
          <button class="button" v-on:click="submitNew(new_course)">Submit</button>
        </form>
      </div>
    </div>

    <div class="box">
      <div class="level">
        <div class="level-item">
          <div v-if="addCourse === false">
            <button class="button" v-on:click="addSome('course')">Add Course</button>
          </div>
        </div>
        <div class="level-item">
          <div v-if="addSection === false">
            <button class="button" v-on:click="addSome('section')">Add Section</button>
          </div>
        </div>
        <div class="level-item">
          <div v-if="addStudent === false">
            <button class="button" v-on:click="addSome('student')">Add Student</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
Vue.component('student-item', {
  props: ['student'],
  template:`
  <span class="tag is-size-6 is-info">{{student.last_name}}, {{student.first_name}}</span>
  `
}),

Vue.component('section-item', {
  props: ['section'],
  template: `
  <div class="card is-size-4">
    <header class="card-content">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Section Number</p>
            <p class="title">{{section.number}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Semester</p>
            <p class="title">{{section.semester}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Room Number</p>
            <p class="title">{{section.room_number}}</p>
          </div>
        </div>
      </div>
    </header>
  </div>
  `
}),

Vue.component('course-section-item', {
  props: ['course', 'sections'],
  template:`
    <div class="card is-size-4">
      <header class="card-header">
        <p class="card-header-title">{{course.name}}</p>
      </header>
      <div class="card-content">
        <div class="level">
          <div class="level-left">
            <label class="label is-size-4">{{course.department}}  {{course.number}}</label>
          </div>
          <div class="level-right">
            <label class="label is-size-4">{{course.credit_hours}} credit hours</label>
          </div>
        </div>
          <div v-for="section in sections">
            <section-item v-if="section.course_id === course.id" v-bind:key="section.id" v-bind:section="section"></section-item>
          </div>
      </div>
    </div>
  `
})

var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

Vue.component('add-course', {
  data: function() {
    return {
      course: {
        name: "",
        department: "",
        number: 4,
        credit_hours: 0
      }
    }
  },
  template: `
    <form>
      <label class="label">
        Name:
        <input class="input" type="text" v-model="course.name"/>
      </label>
      <label class="label">
        Department:
        <input class="input" type="text" v-model="course.department"/>
      </label>
      <label class="label">
        Number:
        <input class="input" type="Number" v-model="course.number"/>
      </label>
      <label class="label">
        Credit Hours:
        <input class="input" type="Number" v-model="course.credit_hours"/>
      </label>
      <button class="button" type="submit">Submit</button>
    </form>
  `,
})

var ItemsVue = new Vue({
    el: '#Itemlist',
    data: {
      students: [],
      sections: [],
      courses: [],
      items: [],

      addCourse: false,
      addSection: false,
      addStudent: false,

      new_course: {
          name: "",
          department: "",
          number: "",
          credit_hours: ""
      },

      new_section: {
        semester: "",
        number: 0,
        course_id: 0,
        room_number: 0
      },

      new_student: {
        first_name: "",
        last_name: ""
      }
    },

    methods: {
        // use jquery
        doajax: function(which) {
            $.ajax({
                url: 'http://localhost:3000/' + which + '.json',
                method: 'GET',
                // use => so the this is not set
                success: (d) => {
                  if (which == "courses"){
                    this.courses = [];
                    this.courses = d;
                  }
                  else if (which == "students"){
                    this.students = [];
                    this.students = d;
                  }
                  else {
                    this.sections = [];
                    this.sections = d;
                  }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        },

        submitNew: function(course) {
          $.ajax({
            url: 'http://localhost:3000/courses',
            method: 'POST',
            data: {course: course},
            headers: {'X-CSRF-Token': AUTH_TOKEN},
            success: (d) => {
              this.addCouse = !this.addCouse
            }
          })
        },

        addSome: function(which) {
          if (which === 'course') {
            this.addCourse = !this.addCouse;
          }
          else if (which === 'section') {
            this.addSection = !this.addSection;
          }
          else {
            this.addStudent = !this.addStudent;
          }
        }

      },

      beforeMount(){
        this.doajax("courses");
        this.doajax("students");
        this.doajax("sections");
      }
    });
</script>

</body>
</html>
