<div class:"container">
  <h1 class="title">New Section</h1>
  <div class="box"><%= render 'form', section: @section %></div>
  <button class="button"><%= link_to 'Back', sections_path %></button>
</div>
