<div class:"container">
  <h1 class="title">New Course</h1>
  <div class="box"><%= render 'form', course: @course %></div>
  <button class="button"><%= link_to 'Back', courses_path %></button>
</div>
